.hero-section {
    width: 100%;
    text-align: center;
}
.hero-section-content {
    margin-bottom: 75px;
}
.hero-section-content p {
    margin-top: 25px;
    margin-bottom: 25px;
}
.hero-section-cta {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.hero-section-image {
    width: 100%;
    margin-bottom: 75px;
}
.my-toolbox {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--dark-blue);
    text-align: center;
}
.logo-grid {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
}
.logo-grid svg {
    width: 50px;
    color: #fff;
}
.adobe {
    width: 60px;
    height: auto;
    background-image: url("/assets/brand-logo/adobe-xd.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.jest {
    width: 60px;
    height: auto;
    background-image: url("/assets/brand-logo/jest.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-block-section {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 75px;
}
.icon-block {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.icon-block-image-container {
    width: 70%;
    height: 150px;
    margin: 0  auto;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
}
.icon-block img {
    width: 100%;
}
.accordion-section {
    margin-top: 50px;
}