.hero-section {
    width: 100%;
    text-align: center;
}
.hero-section-content p {
    margin-top: 25px;
}
.hero-section-cta {
    display: flex;
    justify-content: center;
}
.hero-section-image {
    width: 100%;
    margin-bottom: 75px;
}
.my-toolbox {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--dark-blue);
    text-align: center;
}
.logo-grid {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 20px;
}
.logo-grid svg {
    width: 50px;
    color: #fff;
}
#bootstrapLogo:hover {
    color: #563d7c;
}
#htmlLogo:hover {
    color: #F16529;
}
#cssLogo:hover {
    color: #2965F1;
}
#javascriptLogo:hover {
    color: #F7E018;
}
#nodeLogo:hover {
    color: #539E43;
}
#reactLogo:hover {
    color: #61DBFB
}
#gitLogo:hover {
    color: #F05030;
}
#svg24:hover {
    color: #C63D14;
}
#adobeLogo:hover {
    color: #FF26BE;
}
#mysqlLogo:hover {
    color: #E48E00;
}
#sassLogo:hover {
    color: #CD6799;
}
#mongodbLogo:hover {
    color: #10AA50;
}
.tab-section-nav {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.tab-section-nav h5 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.tab-section-container {
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.tab-image {
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}
.tab-active {
    border-bottom: 2px solid #c00101;
    color: #c00101;
}
.tab-section-content {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#tabcontent2, #tabcontent3 {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
}