main {
    margin: 0 auto;
    max-width: 1440px;
}
.hide-mobile {
    display: none;
}
.global-container {
    padding-left: 30px;
    padding-right: 30px;
}
.global-padding {
    padding-bottom: 75px;
}
.global-margin{
    margin-bottom: 75px;
}
.text-margin-sm {
    margin-bottom: 10px;
}
.text-margin-md {
    margin-bottom: 25px;
}
.text-margin-lg {
    margin-bottom: 40px;
}
.position-rel {
    position: relative;
}
