p, a {
    font-size: 1.1rem;
    line-height: 1.5;
}
.hide-tablet {
    display: none;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section-content {
    order: -1;
    text-align: left;
    width: 40%;
}
.hero-section-image {
    width: 50%;
}
.hero-section-cta {
    justify-content: flex-start;
}
.my-toolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.logo-grid {
    width: 40%;
    margin-bottom: 0px;
}
.my-toolbox-content {
    width: 50%;
}
.accordion-block {
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.accordion-section {
    width: 60%;
}   