.logo-container {
    width: 200px;
    display: flex;
    align-items: center;
}
.logo {
    width: 65px;
    margin-right: 10px;
    padding: 15px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hamburger {
    height: 25px;
    width: 25px;
    background-image: url("../../assets/hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.close {
    position: absolute;
    top: 48px;
    right: 30px;
    height: 25px;
    width: 25px;
    z-index: 5;
    background-image: url("../../assets/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-weight: 500;
}
.button-main {
    border: 2px solid #345770;
    color: #345770;
    background-color: transparent;
}
.button-main:hover {
    color: #ffffff;
    background-color: #345770;
}
.button-secondary {
    width: 100%;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}
.button-secondary:hover {
    color: #345770;
    background-color: #fff;
}
.accordion-row {
    margin-top: 20px;
    border-bottom: 1px solid rgb(231, 231, 233);
}
.title {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(240, 6%, 50%);
}
.answer {
    display: none;
    padding-bottom: 20px;
    animation-name: faq-answer;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}
@keyframes faq-answer {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}
.arrow-active {
    transform: scaleY(-1);
}