.logo-container {
    width: 200px;
}
.logo {
    width: 65px;
    margin-right: 10px;
    padding: 15px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hamburger {
    height: 25px;
    width: 25px;
    background-image: url("../../assets/hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.close {
    position: absolute;
    top: 48px;
    right: 30px;
    height: 25px;
    width: 25px;
    z-index: 5;
    background-image: url("../../assets/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button {
    height: 45px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}
.button-main {
    width: 150px;
    border: 2px solid #345770;
    color: #345770;
    background-color: transparent;
}
.button-main:hover {
    color: #ffffff;
    background-color: #345770;
}
.button-secondary {
    width: 150px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}
.button-portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: var(--blue-grey);
    color: #fff;
    font-weight: 400;
}
.button-portfolio:hover {
    background-color: var(--dark-blue);
}
.button-secondary:hover {
    color: #345770;
    background-color: #fff;
}
.accordion-container {
    width: 100%;
    padding-top: 75px;
    background-color: #f2f2f2;
}
.accordion-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f2f2f2ff;
}
.accordion-block {
    margin-top: 75px;
}
.accordion-group {
    margin-top: 40px;
}
.accordion-row {
    padding: 25px;
    background-color: var(--blue-grey);
    color: #fff;
    border-bottom: 1px solid rgb(231, 231, 233);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(240, 6%, 50%);
}
.answer {
    margin-top: 15px;
    display: none;
    animation-name: faq-answer;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}
@keyframes faq-answer {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}
.arrow-active {
    transform: scaleY(-1);
}
.portfolio-banner {
    width: 100%;
    height: 275px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: var(--dark-blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
}
.portfolio-card {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.portfolio-card-cta {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.linkedin-popup-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
.linkedin-popup {
    padding: 30px;
    text-align: center;
    background-color: var(--blue-grey);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
